.container {
    display: flex;
    height: 100%;
    overflow: hidden;
  }
  
  
  .main {
    flex: 8;
    padding: 20px;
    overflow: scroll;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .cards-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    height: 500px;

  }
  
  .card {
    width: 400px;
    height: 200px;
    transition: box-shadow 0.3s;
    margin-bottom: 20px;
    top: 40px;
    left: 10px;
    padding: 20px;
    background-color: #cc6a6a;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
  .card:hover {
    box-shadow: 0 0 20px;
  }
  
  .card h2 {
    font-size: 25px;
    position: relative;
  }
  
  .card p {
    font-size: 20px;
  }
  .row-container {
    display: flex;
  }
  
  .column {
    flex: 4;
    margin-right: 20px;
    margin-left: 30px;
  }
  